services:
  - type: web
    name: camillas-app
    env: python
    plan: free
    buildCommand: ./build.sh
    startCommand: gunicorn app:create_app()
    envVars:
      - key: FLASK_ENV
        value: production
